@import "bootstrap.min.css" ;
@import "_bootstrap.scss" ;
@import "keyframes.scss" ;

@font-face {
    font-family: manga ;
    src: url("../font/MangaStyle.ttf") ;
}

@font-face {
    font-family: cyber ;
    src: url("../font/CIND.otf") ;
}

* {
    box-sizing: border-box ;
}

html {
    max-width: 100% ;
    overflow-x: hidden ;
    overflow-y: hidden ;
}

body {
    width: 100% ;
    height: auto ;
    display: block ;
    margin: 0 ;
    padding: 0 ;
    background-color: #111111 ;
    background-size: 100% ;
    background-repeat: repeat ;
    background-attachment: fixed ;
}

header {
    text-align: center ;
}

a {
    color: #111 ;
    font-family: cyber, cursive ;
    font-size: 1.25rem ;
    animation: glow 2s ease-in-out infinite ;
    &:hover {
        animation: pulse2 0.5s linear infinite ;
    }
}

#home {
    animation-delay: 0.1s ;
}
#dancing {
    animation-delay: 0.2s ;
}
#tictac {
    animation-delay: 0.3s ;
}
#ajaxchat {
    animation-delay: 0.4s ;
}
#user_api {
    animation-delay: 0.5s ;
}
#post_api {
    animation-delay: 0.6s ;
}
#blog_api {
    animation-delay: 0.7s ;
}
#contact {
    animation-delay: 0.8s ;
}
#sololearn {
    animation-delay: 0.9s ;
}
#gitlab {
    animation-delay: 1s ;
}

#presentation {
    text-align: right ;
    align-items: center ;
    font-family: cyber, cursive;
    font-size: 2rem;
    color: white ;
    margin: 0% 0% 0% 0% ;
    animation: neonBleu 4s linear alternate infinite ;
    @media screen and (max-width: 720px) {
        font-size: 1rem ;
        text-align: center ;
        margin-top: 2% ;
    }
}

#home {
    font-family: manga ;
    font-size: 1rem ;
}

.intro {
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
}

#title {
    background-opacity: 0 ;
    font-family: manga ;
    font-size: 5rem ;
    @media screen and (max-width: 720px) {
        font-size: 3rem ;
    }
    margin: 3% ;
    color: white ;
    animation : rainbow 1700ms linear alternate infinite ;
}

.principal {
    text-align: center ;
    margin-left: auto ;
    margin-right: auto;
}

.next {
    visibility: hidden ;
    width: 100px;
    height: 0px;
    margin-left: 10% ;
    font-size: 5rem ;
    @media sreen and (max-width: 720px) {
        font-size: 2rem ;
    }
    box-sizing: border-box;

    #red {
        position: absolute ;
        color: #FF0000 ;
        animation: neonRouge 1s linear infinite ;
    }
    #ora {
        position: absolute ;
        color: #FF7F00 ;
        animation: neonOrange 1s linear infinite ;
    }
    #yel {
        position: absolute ;
        color: #FFFF00 ;
        animation: neonJaune 1s linear infinite ;
    }
    #gre {
        position: absolute ;
        color: #00FF00 ; 
        animation: neonVert 1s linear infinite ;
    }
    #blu {
        position: absolute ;
        color: #0000FF ;
        animation: neonBleu 1s linear infinite ;
    }
    #tur {
        position: absolute ;
        color: #00CED1 ;
        animation: neonTurquoise 1s linear infinite ;
    }
    #pin {
        position: absolute ;
        color: #FF00FF ;
        animation: neonRose 1s linear infinite ;
    }
}

#gameover {
    display: none ;
    background-opacity: 0 ;
    margin-top: 10% ;
    p {
        color: red ;
        font-family: manga ;
        font-size: 7rem ;
        @media screen and (max-width: 720px) {
            font-size: 4rem ;
        }
        animation: neonRouge 3400ms linear alternate infinite ;
    }
    #rejouer {
        border-radius: 10px ;
        border: hidden ;
        margin: 5% ;
        background-color: #111111 ;
        cursor: pointer ;
        font-family: manga ;
        font-size: 5rem ;

        #replay {
            display: block ;
            font-size: 3rem ;
            font-weight: bold ;
            color: white ;
            animation: rainbow 1700ms linear infinite ;
        }
    }
}

#score {
    display: block ;
    width: 33% ;
    margin-bottom: 12% ;
    float : right ;
    background-opacity: 0 ;
    color: white ;
    font-family: cyber ;
    font-weight: bold ;
    font-size:8rem ;
    @media screen and (max-width: 720px) {
        font-size: 5rem ;
    }
    animation: rainbow 1700ms linear alternate infinite ;
}

.config {
    text-align: center ;
    margin-top: -3% ;
    @media scree and (max-width: 960px) {
        margin-top: 10% ;
    }
    @media screen and (max-width: 720px) {
        margin-top: 50% ;
    }
    margin-left: auto ;
    margin-right: auto ;
}

#rouge {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxRouge 4s linear infinite ;
    border: none ;

    #btnR {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonRouge 4s linear infinite ;
        color: #FF0000 ;
    }
}

#vert {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxVert 5s linear infinite ;
    border: none ;

    #btnV {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonVert 5s linear infinite ;
        color: #00FF00 ;
    }
}


#bleu {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxBleu 6s linear infinite ;
    border: none ;

    #btnB {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonBleu 6s linear infinite ;
        color: #0000FF ;
    }
}

#orange {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxOrange 7s linear infinite ;
    border: none ;

    #btnO {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonOrange 7s linear infinite ;
        color: #FF7F00 ;
    }
}

#jaune {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxJaune 5s linear infinite ;
    border: none ;

    #btnJ {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonJaune 5s linear infinite ;
        color: #FFFF00 ;
    }
}

#turquoise {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxTurquoise 3s linear infinite ;
    border: none ;

    #btnT {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonTurquoise 3s linear infinite ;
        color: #00CED1 ;
    }
}

#rose {
    width: 120px ;
    @media screen and (max-width: 720px) {
        width: 70px ;
    }
    border-radius: 10px ;
    background-color: #111111 ;
    cursor: pointer ;
    opacity: 0.9 ;
    margin : 1% 1% 1% 0.5% ;
    animation: boxRose 6s linear infinite ;
    border: none ;

    #btnRo {
        display: block ;
        font-size: 3rem ;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem ;
        }
        font-weight: bold ;
        animation: neonRose 6s linear infinite ;
        color: #FF00FF ;
    }
}

#bar {
    height: 5px;
    margin-top: 1% ;
    @media screen and (max-width: 720px){
        margin-top: 2%;
    }
    background-color: white ;
    border-radius: 3%;
    box-shadow: 0 0 3px 6px ;
    animation: progressBar 1700ms linear infinite ;
}

.plan {
    width: 200px;
    height: 200px;
    @media screen and (max-width: 720px) {
        width: 50px ;
        height: 50px ;
    }
    padding-left: 20% ;
    transform-style: preserve-3d;
}

.plan.global {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10% auto ;
    will-change: transform ;
    transform: rotateX(90deg) rotateZ(-45deg);
    animation: rotate 3400ms linear infinite ;
}

.plan.global .cercle {
    width: 200px;
    height: 200px;
    @media screen and (max-width: 720px) {
        width: 50px ;
        height: 50px ;
    }
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
}

.plan.global .cercle::before, .plan.global .cercle::after {
    will-change: content ;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: white ;
    will-change: box-shadow ;
    animation: rainbow2 1700ms linear alternate infinite ;
}

.plan.global .cercle::before {
    transform: translateZ(-90px);
    @media screen and (max-width: 720px) {
        transform: translateZ(-30px) ;
    }
}
.plan.global .cercle::after {
    transform: translateZ(90px);
    @media screen and (max-width: 720px) {
        transform: translateZ(30px) ;
    }
}

.plan.global .cercle:nth-child(1) {
    transform: rotateZ(72deg) rotateX(72deg);
}
.plan.global .cercle:nth-child(2) {
    transform: rotateZ(144deg) rotateX(72deg);
}
.plan.global .cercle:nth-child(3) {
    transform: rotateZ(216deg) rotateX(72deg);
}
.plan.global .cercle:nth-child(4) {
    transform: rotateZ(288deg) rotateX(72deg);
}
.plan.global .cercle:nth-child(5) {
    transform: rotateZ(360deg) rotateX(72deg);
}



